header{
    background-color: rgb(27, 27, 27);
    padding: 20px 0;
    color: #fff;
    margin-bottom: 30px;
    padding: 10px;        
}

h1 {
    margin-left: 30px;
    font-size: 24px;      
}
body{
    background-color:#f8f8ff;
    font-family: 'Roboto', sans-serif
}

#text{
    width: 100%;
    font-size: 18px;
    line-height: 140%;
}